<div class="background">
    <div class="container">
      <mat-card class="card">
        <div class="header">
          <div class="login-container">
            <img src="../../../assets/logo-1-medlink.png" alt="" width="230" routerLink="/">
            <h2>Recupere sua senha</h2>
            <form>
              <div class="form-field">
                <div class="input-container">
                  <div class="text-info">
                    <p>Informe o e-mail ou nome de usuário associado à sua conta para alterar sua senha.</p>
                  </div>
                  <input type="text" class="inputs-login" placeholder="Insira seu email ou nome de usuário">
                </div>
              </div>
              <button type="submit" class="btn btn-primary login-button">Avançar</button>
            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  