.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }

  h2{
    margin-bottom: 40px;
  }
  
  img{
    cursor: pointer;
  }

  .form-group {
    margin: 10px;
    text-align: center;
  }
  .card {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Defina a largura desejada em porcentagem */
    max-width: 600px; /* Defina uma largura máxima para evitar que o card fique muito largo. */
    height: 570px; /* Defina a altura desejada em pixels */
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-info {
    width: 100%;
    text-align: left;
  }

  .login-button {
    background-color: #5CC8F2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .login-button:hover {
    background-color: #2C87BF;
  }
  .form-field {
    text-align: center; 
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
  }
 
  .background {
    background-image: url('../../../assets/background.jpg'); /* Substitua 'background.jpg' pelo caminho correto para sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .links{ 
    margin-bottom: 10px;
  }

  .linkPassword {
    margin: 0 10px;
  }

  .links a {
    color: #888;
    text-decoration: none;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .inputs-login{
    padding: 12px;
    width: 100%; 
    max-width: 325px; 
    margin-bottom: 20px;
    border: 1.4px solid #c1c1c1;
    border-radius: 7px;
  }
    .inputs-login:focus {
      border: 1.4px solid #2C87BF !important; 
      outline: none; 
    }
